@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 52rem;
  width: 100%;
  height: 100vh;
  margin: 0rem auto;
  font-size: 1.5rem;
  font-weight: 900;
}

.loading-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: inherit;
  height: inherit;
  background-color: #fff;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

.loading-bg.active {
  visibility: visible;
  opacity: 1;
}

.circle-area {
  position: relative;
  width: 10rem;
  height: 10rem;
}

.circle-area > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: .95rem;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 11;
}
.circle-one-base {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  border: 2rem solid;
  border-radius: 50%;
  border-top-color: rgba(44, 44, 44, 0);
  border-right-color: rgba(55, 55, 55, 0);
  border-bottom-color: rgba(66, 66, 66, 0);
  border-left-color: rgba(33, 33, 33, 0);
  animation: loadEr 2s infinite;
  z-index: 10;
}

.circle-one-turn {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  border: 2rem solid #aaa;
  border-radius: 50%;
  opacity: .5;
}

@keyframes loadEr {
  0% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
  }

  10.4% {
    border-top-color: rgba(44, 44, 44, .2);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
  }

  20.8% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
  }

  31.2% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, .2);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
  }

  41.6% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
    transform: rotate(40deg);
  }

  52% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, .2);
    border-left-color: rgba(33, 33, 33, 0);
  }

  62.4% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, 0);
  }

  72.8% {
    border-top-color: rgba(44, 44, 44, 0);
    border-right-color: rgba(55, 55, 55, 0);
    border-bottom-color: rgba(66, 66, 66, 0);
    border-left-color: rgba(33, 33, 33, .2);
  }
}

.circle-expand-horizontal {
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 16rem;
  height: 16rem;
  border: 3rem solid;
  border-radius: 50%;
  border-top-color: rgba(44, 44, 44, 0);
  border-right-color: rgba(55, 55, 55, .3);
  border-bottom-color: rgba(66, 66, 66, 0);
  border-left-color: rgba(33, 33, 33, .3);
  animation: scaleMax 5s infinite;
}

.circle-expand-vertical {
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 16rem;
  height: 16rem;
  border: 3rem solid;
  border-radius: 50%;
  border-top-color: rgba(44, 44, 44, .2);
  border-right-color: rgba(55, 55, 55, 0);
  border-bottom-color: rgba(66, 66, 66, .2);
  border-left-color: rgba(33, 33, 33, 0);
  animation: scaleMax 5s infinite;
  animation-delay: 1s;
}

@keyframes scaleMax {
  0% {
    transform: scale(1) rotate(90deg);
    opacity: .5;
  }

  50% {
    transform: scale(10) rotate(-360deg);
    opacity: 0;
  }
}