@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
  /* scroll-margin-top: 5rem; */
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  height: 100vh;
  margin: 45px auto;
  padding: 2rem;
  background-color: #eee;
  border-radius: .3rem;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

#modal-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  padding: 2rem;
  color: #fff;
  background-color: blue;
  border-radius: .3rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 600px;
  max-height: 30vh;
  overflow-y: scroll;
  padding: 4rem;
  background-color: #fff;
  border-radius: .3rem;
  z-index: 5;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

.modal > h3,
.modal > p {
  color: #333;
}

.modal > button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: blue;
}

.modal > button::before {
  position: absolute;
  top: -.35rem;
  right: .35rem;
  content: "\f00d";
  font-family: "Font Awesome 5 Free";
  font-size: 1.7rem;
  font-weight: 900;
  color: rgb(220, 220, 251);
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333c6;
  z-index: 4;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

.cover {
  visibility: visible;
  opacity: 1;
}




/* 
main {
  position: relative;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

article::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: #333333cd;
  z-index: 2;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

article::after {
  visibility: visible;
  opacity: 1;
}


article dl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  width: 900px;
  background-color: #eee;
  padding: 3rem 0 ;
  z-index: 1;
}

article dt {
  width: 15rem;
  padding: .5rem 1rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #777;
  border-radius: .3rem;
  cursor: pointer;
}

article .section:last-of-type {
  margin-top: 2rem;
}

article dd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 46rem;
  padding: 2rem;
  font-size: 1rem;
  line-height: 2;
  text-indent: 1em;
  background-color: #ffffffd3;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}

.active-modal {
  visibility: visible;
  opacity: 1;
} */