@charset "utf-8";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 4rem auto;
  padding: 1rem;
  background-color: #eee;
}

.wrapper {
  padding: 1rem;
  max-height: 35rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: .5em;
  background-color: #aaa;
  /* overflow: auto; */
  overflow: scroll;
}

.wrapper.row > header,
.wrapper.row > article,
.wrapper.row > footer {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #333;
}

.wrapper.row > header {
  position: sticky;
  top: 0;
  left: 0;
}

.wrapper.row > article {
  width: 200vw;
  height: 200vh;
  margin: 1rem 0;
}

.wrapper.row > footer {
  position: sticky;
  bottom: 0;
  left: 0;
}

.wrapper.column {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* widthでやるならここはコメントアウト */
  gap: 1rem;
}

.wrapper.column > aside {
  flex: 1;
  position: sticky;
  top: 0;
  /* このやり方もあるけど、今回は止めておく */
  /* width: 30%; */
  padding: 1rem;
  background-color: antiquewhite;
}
.wrapper.column > main {
  flex: 3;
  /* このやり方もあるけど、今回は止めておく */
  /* width: 65%; */
  height: 150vh;
  padding: 1rem;
  background-color: azure;

}
