@charset "UTF-8";

html {
  font-size: 15px;
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  line-height: 1.7;
  color: #555;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  padding: 0 10rem;
  color: #fff;
  background-color: #555;
  text-transform: capitalize;
}

/* flex-box, gridとも伸縮可能な領域に対してa領域を被せることができる。
aにdisplay: inline-block, blockどちらでも可能。*/
header nav dl,
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav dt,
header nav dd,
header nav li {
  font-weight: 400;
}

header.two ul,
header.two dl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  background-color: #333;
}

header nav li:not(:first-of-type) {
  margin-left: 2rem;
}

header nav dd {
  margin-left: 2rem;
}

header.two nav li:not(:first-of-type) {
  margin-left: 0rem;
}

header.two nav dd {
  margin-left: 0rem;
}

header nav a {
  display: inline-block;
  padding: 2rem 1rem;
  background-color: red;
}

.container {
  max-width: 600px;
  margin: 10rem auto 0;
  padding: 2rem;
  background-color: #eee;
  border-radius: .5rem;
  box-shadow: 2px 2px 2px #aaa;
}

/* 親要素に領域がある前提で、
a要素にdisplay: block;として行方向をanchorで埋めることができる。
列方向については、height: 100%とすることで埋めることができる。 */
article:first-of-type {
  width: 20rem;
  height: 10rem;
  margin: 0 auto;
  color: #fff;
  background-color: red;
}
/* ただ、このやり方をするとanchor内の文字をレイアウトする場合に難儀する。
上下をpaddingで調整するとしても煩雑になると思われる。 */
article:first-of-type a {
  display: block;
  height: 100%;
  background-color: #333;
}
