@charset "utf-8";

html {
  font-size: 15px;
}

body {
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
  background-color: #333;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: border-box;
}

header {
  padding: 3rem;
}

header h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 4rem;
  /* 見出しは改行させない。明示的に。 */
  white-space: norap;
}

main {
  /* 68rem */
  max-width: 1020px;
  width: 100%;
  margin: 4rem auto;
}

contents li {
  position: relative;
}

