@charset "utf-8";

body {
  color: #333;
}

a {
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background-color: #ddd;
}

header .logo {
  font-size: 1.5rem;
  font-weight: 700;
}

header ul {
  display: flex;
}

/* header ul li:not(:first-of-type) */
header ul li + li {
  margin-left: 1rem;
}

.container {
  width: 1020px;
  margin: 4rem auto;
  height: 100vh;
  background-color: #ddd;
}

.btn {
  margin: 0 auto;
  width: 10rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 900;
  border-radius: .3rem;
  color: yellow;
  background-color: aqua;
  
  /* display: flex;はblockを含んでいる。 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn::after {
  content: ">";
  margin-left: .3rem;
}


.image-list {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.image-list img {
  width: 300px;
  /* 高さと幅が一対一 */
  aspect-ratio: 1 / 1;
}


.profile {
  margin-top: 4rem;
}

.profile h2,
.profile h3 {
  font-size: 2rem;
  font-weight: 900;
  white-space: nowrap;
}

.profile h3 {
  font-size: 1.5rem;
  margin: .5rem 0 .7rem;
}

.profile p {
  line-height: 1.6;
}

.image {
  width: 20%;
  height: 200px;
  background-image: url(../img/photo-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-wrap {
  display: flex;
  justify-content: space-between;
}

.contents {
  width: 70%;
}